<!-- content -->
<div class="row  w-100 mt-3 m">
    <div class="col-md-5">
        <form action="" method="POST" enctype="multipart/form-data">
            <legend>Thêm bài đăng</legend>
            <div class="mb-3 row">
                <label for="" class="form-label">Tiêu đề</label>
                <div class="col"> <input name="tieude" type="text" class="form-control" placeholder=" "></div>
                <div class="col">
                    <select class="form-control" name="iddanhmuc" id="">
                        <option value="1">vpn</option>
                        <option value="1">vpn</option>
                        <option value="1">vpn</option>
                        <option value="1">vpn</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="form-label">Tiêu đề đầy đủ</label>
                <div class="col"> <input name="tieudefull" type="text" class="form-control" placeholder=""></div>
            </div>
            <div class="mb-3 row">

                <div class="col"> <label for="" class="form-label">Đánh giá</label>
                    <input type="text" name="danhgia" class="form-control" placeholder=""></div>
                <div class="col"><label for="" name="giaban" class="form-label">Giá bán</label>
                    <input type="text" class="form-control" placeholder=""></div>
            </div>
            <div class="mb-3 row">
                <div class="col"><label for="" class="form-label">Hạn sử dụng</label>
                    <input type="text" class="form-control" name="time" placeholder=""></div>
                <div class="col">
                    <label for="" class="form-label">Hình ảnh</label> <input name="avatar" type="file" class="form-control" placeholder="Hình ảnh"></div>
            </div>
            <div class="mb-3 row"><label for="" class="form-label">Hình ảnh</label>
                <textarea type="text" class="form-control" style="margin-left:12px;width:96%" placeholder=""></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>

</div>