<!-- content -->
<div class="col-385 bg-fefaff boder5 ml30 ">
    <form action="">
        <ul class="danhmuc ">
            <li><a href="#" class="w700">Change password</a></li>
            <label for="">Mật khẩu cũ :</label>
            <li><input type="password" placeholder="*********"></li>
            <label for="">Mật khẩu mới : </label>
            <li><input type="password" placeholder="*********"></li>
            <label for="">Nhập lại mật khẩu :</label>
            <li><input type="password" placeholder="*********"></li>
            <button class="btn ml10 mt10">Xác nhận</button>
    </form>
</div>