<!-- content -->
<div class="col-385 bg-fefaff boder5 ml30 ">
    <form action="">
        <ul class="danhmuc ">
            <li><a href="#" class="w700">Nạp tiền</a></li>
            <label for=""><img src="./img/MoMo_Logo.png" alt="">  </label>
            <li> &nbsp; Số tài khoản :
                <input class="input-nap" type="text" placeholder="023543">
                <a class="btn bg-mua ml10" href="#">copy</a>
            </li>
            <li> &nbsp; Nội dung :&nbsp;&nbsp;
                <input class="input-nap ml30" type="text" placeholder="m1203">
                <a class="btn bg-mua ml10" href="#">copy</a>
            </li>

            <label for=""><img src="./img/ACB_Logo.png" alt="">  </label>
            <li> &nbsp; Số tài khoản :
                <input class="input-nap" type="text" placeholder="092742483">
                <a class="btn bg-mua ml10" href="#">copy</a>
            </li>
            <li> &nbsp; Nội dung :&nbsp;&nbsp;
                <input class="input-nap ml30" type="text" placeholder="m294">
                <a class="btn bg-mua ml10" href="#">copy</a>
            </li>
        </ul>

        <p class="my15 ml30">&nbsp; Kiểm tra trước khi gửi !</p>
    </form>
</div>