<!-- content -->
<div class="col-385 bg-fefaff boder5 ml30 ">
    <form action="">
        <ul class="danhmuc ">
            <li><a href="#" class="w700">Profile</a></li>
            <label for="">Name :</label>
            <li><input type="text" placeholder="Phan Tin Tưởng"></li>
            <label for="">Phone : </label>
            <li><input type="text" placeholder="0962.493.192"></li>
            <label for="">Tài khoản :</label>
            <li><input type="text" placeholder="1.000.000 VNĐ"></li>
            <label for="">Lượt giao dịch :</label>
            <li><input type="text" placeholder="78"></li>
        </ul>

        <button class="btn ml30 mt10">Xác nhận</button>
        <p class="my15 text-center">Bạn muốn thay đổi mật khẩu ?<a href="./thaydoimk.html">Click</a></p>
    </form>
</div>