<!-- footer -->
<div class="container-max border-top mt30">
    <div class="container  ">
        <div class="row mt12 ">
            <div class="col25 ">
                <ul class="danhmuc mt20  ">
                    <li><a href="#" class="logo ">Sharenick.vn</a></li>
                    <p class="text-407c51">© 2014–2021, REMITANO</p>

                    <p class="text-407c51">All rights reserved. Babylon Solutions LLC</p>



                </ul>
            </div>
            <div class="col25">
                <ul class="danhmuc mt20">
                    <li><a href="#" class="w700">ABOUT US</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Escrowed Trade</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Remitano Pay</a></li>

                </ul>
            </div>
            <div class="col25">
                <ul class="danhmuc mt20">
                    <li><a href="#" class="w700">BUY ANYWHERE</a></li>
                    <li><a href="#">Mua nick hma vpn</a></li>
                    <li><a href="#">Mua nick express vpn</a></li>
                    <li><a href="#">Mua nick nextflix</a></li>
                    <li><a href="#">Mua nick amazon</a></li>
                    <li><a href="#">Mua nick google drivec</a></li>
                    <li><a href="#">Mua nick onedrive</a></li>

                </ul>
            </div>
            <div class="col25">
                <ul class="danhmuc mt20">
                    <li><a href="#" class="w700">HELP CENTER</a></li>
                    <li><a href="#">Email:  admin@mua.vn</a></li>
                    <li><a href="#">Contact Support</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">System Status</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Phone: +61386588805</a></li>

                </ul>
            </div>
        </div>

    </div>

</div>
<div class="container-max bg-bdbdbd ">
    <div class="container py10 ">
        <div class=" text-center ">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-github"></i></a>
            <a href=""><i class="bi bi-telegram"></i></a>
        </div>
    </div>
</div>