<!-- Thanh bar đăng nhập -->

<div class="container">
    <div class=" my10 ">
        <div class="text-end">
            <a href="#" class="btn"><i class="bi bi-currency-dollar"></i>
                <%= user.money  %> đ
            </a>
            <a href="#" class="btn"><i class="bi bi-person-fill"></i> 
                <%= user.taikhoan  %>
            </a>


        </div>
    </div>
</div>

<!-- Thanh navigation -->
<div class="container-max bg-fdf5ff">
    <div class="container ">
        <div class="row mt12 h60">
            <div class="col-40  " style="margin-top:12px">
                <a href="/" class="logo ">Sharenick.vn</a>
            </div>
            <div class="col-60 pt20 text-end">
                <a href="#">Mua bán</a>
                <a href="#">Khuyến mãi</a>
                <a href="#">Trợ giúp</a>
                <a href="#">Liên hệ</a>
                <a href="/naptien" class=" bg-naptien btn text-white">
                    <i class=" text-white bi bi-coin"></i> &nbsp; Nạp tiền</a>
            </div>
        </div>
    </div>
</div>